// tipografia do projeto
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Cute+Font&family=League+Spartan:wght@100..900&family=Protest+Riot&family=Sora:wght@100..800&family=Timmana&display=swap');

@mixin typeface-1($size, $device: desktop) {
    font-family: "League Spartan", sans-serif;

    // =====  h1  =====
    @if $size ==h1 and $device ==desktop {
        font-size: 64px;
        line-height: 100%;

        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    @else if $size ==h1 and $device ==mobile {
        font-size: 36px;
        line-height: 120%;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;

    }

    // =====  h2  =====
    @if $size ==h2 and $device ==desktop {
        font-size: 52px;
        line-height: 100%;

        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    @else if $size ==h2 and $device ==mobile {
        font-size: 36px;
        line-height: 120%;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;

    }

    // =====  h3  =====
    @if $size ==h3 and $device ==desktop {
        font-size: 36px;
        line-height: 100%;

        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    @else if $size ==h3 and $device ==mobile {
        font-size: 24px;
        line-height: 120%;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;

    }

    // =====  h4  =====
    @if $size ==h4 and $device ==desktop {
        font-size: 24px;
        line-height: 100%;

        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    @else if $size ==h4 and $device ==mobile {
        font-size: 18px;
        line-height: 120%;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;

    }

    // =====  h5  =====
    @if $size ==h5 and $device ==desktop {
        font-size: 18px;
        line-height: 100%;

        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    @else if $size ==h5 and $device ==mobile {
        font-size: 16px;
        line-height: 120%;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;

    }

}

@mixin typeface-2($size, $device: desktop) {

    // =====  p  =====
    @if $size ==p and $device ==desktop {
        font-family: "Sora", sans-serif;

        font-size: 18px;
        line-height: 140%;
        font-weight: 400;
        font-style: normal;
        text-align: center;
    }

    @else if $size ==p and $device ==mobile {
        font-family: "Sora", sans-serif;

        font-size: 14px;
        line-height: 140%;
        font-weight: 400;
        font-style: normal;

    }

    // =====  a  =====
    @if $size ==a and $device ==desktop {
        font-family: "Sora", sans-serif;

        font-size: 16px;
        font-style: normal;
    }

    @else if $size ==a and $device ==mobile {
        font-family: "Sora", sans-serif;

        font-size: 14px;
        font-style: normal;

    }

}


h1 {
    color: $off-white;
    @include typeface-1(h1, desktop);

    @include responsive(s) {
        @include typeface-1(h1, mobile);
    }
}

h2 {
    color: $black-dark;
    @include typeface-1(h2, desktop);

    @include responsive(s) {
        @include typeface-1(h2, mobile);
    }
}

h3 {
    color: $off-white;
    @include typeface-1(h3, desktop);

    @include responsive(s) {
        @include typeface-1(h3, mobile);
    }
}

h4 {
    color: $off-white;
    @include typeface-1(h4, desktop);

    @include responsive(s) {
        @include typeface-1(h4, mobile);
    }
}

h5 {

    text-transform: uppercase;
    color: $off-white;
    @include typeface-1(h5, desktop);

    @include responsive(s) {
        @include typeface-1(h5, mobile);
    }
}

h6{
    color: $secundary-normal;
    @include typeface-2(h6, desktop);

    @include responsive(s){
        @include typeface-2(h6, mobile);
    }
}

p{
    color: $gray-6;

    @include typeface-2(p,desktop);

    @include responsive(s){
        @include typeface-2(p,mobile);

    }
}

a{
    color: $white-normal;

    @include typeface-2(a,desktop);

    @include responsive(s){
        @include typeface-2(a,mobile);

    }
}


.text-center{
    text-align: center;
}